# Prevent direct access to config files
<FilesMatch "^config(\.example)?\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Make sure PHP is treated correctly
<IfModule mod_mime.c>
    AddType application/x-httpd-php .php
</IfModule>

# Disable directory listing
Options -Indexes
